.house-info1 {
  background-color: #d35266;
}
.house-info1 img {
  height: 150px;
  width: 100%;
}

.info-line {
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
}

.find {
  padding: 7px;
  margin-left: 120px;
  background-color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .house-info1 {
    display: flex;
    height: 100%;
    padding: 20px;
  }

  .house-info1 img {
    max-width: 300px;
    height: 300px;
    border-radius: 100%;
  }

  .info2 {
    background-color: #d4d4d4;
  }

  .info3 {
    background-color: rgba(34, 0, 255, 0.576);
  }

  .info-line {
    font-size: 20px;
    padding: 15px;
    font-weight: 600;
  }

  .info-line p {
    margin-top: 3rem;
  }

  .find {
    margin-top: 2rem;
  }
}
