body {
  margin: 0;
}

header {
  background-color: #d35266;
  width: auto;
}

.flex {
  display: block;
}

.head img {
  width: 90px;
  padding: 10px;
}

.none {
  display: none;
}

.more {
  color: white;
}

.logo {
  margin-left: 30%;
}

.nav-bar {
  display: flex;
  align-items: center;
  margin-left: 28%;
}

.ml-3 {
  margin-left: 2rem;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.rent {
  background-image: url(../images/night-bg.jpg);
  background-position: center;
  color: #d4d4d4;
  padding: 0 0 2rem 0;
}

.note {
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
}

.key {
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}

.form {
  display: block;
  background-color: lavender;
  width: 70%;
  height: 150px;
  padding: 1px;
  align-content: center;
  margin: auto;
  border-radius: 1.5rem;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
}

.int {
  background-color: #d35266;
  text-align: center;
  padding: 2px;
}

.int a {
  text-decoration: none;
  text-decoration-color: rgb(148, 137, 137);
}

.form-input {
  width: 80%;
  box-sizing: border-box;
  border-radius: 6px;
  font-weight: 600;
  font-size: 20px;
}

.int-work {
  margin: 6rem auto auto 5.2rem;
}

@media (min-width: 548px) {
  .head {
    margin-left: 80px;
  }

  .int-work {
    margin: 6rem auto auto 7rem;
  }

  .se {
    color: white;
  }

  .ign {
    margin-left: 19rem;
  }
}

@media (min-width: 768px) {
  header {
    max-width: 100%;
  }

  .logo {
    margin-left: -90px;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
  }

  .none {
    display: inline-flex;
    margin-left: 0.5rem;
  }

  .nav-bar {
    font-size: 18px;
  }

  .md-flex {
    display: flex;
    margin: 20px;
  }

  .rent {
    padding: 0 0 2rem 0;
  }

  .form-input {
    max-width: 50%;
  }

  .footer {
    padding: 20px;
  }

  .int {
    width: 120px;
    margin-left: 4px;
    border-radius: 9px;
    background-color: blue;
    padding-top: 7px;
  }

  .form {
    height: 150px;
    width: 50%;
    padding-top: 0;
  }

  .int-work {
    color: gray;
    margin: 7rem auto auto 9rem;
    width: 9rem;
  }

  .pink {
    color: #d35266;
  }
}

@media (min-width: 1024px) {
  .int {
    background-color: #d35266;
  }

  .form {
    width: 70%;
  }

  .form-input {
    max-width: 100%;
    padding-left: 6px;
  }

  .md-flex {
    padding-left: 10px;
  }

  .int-work {
    margin: 7rem 0 0 13rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  .house-info1 {
    display: flex;
  }
}

.main-content img {
  height: 70px;
  margin-left: 45%;
  padding: 2rem 0 0 0;
}

.main-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin: 3px;
  padding: 18px;
}

.para {
  text-align: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2rem;
  color: gray;
  padding: 0 20px 0 20px;
}

.header__burger-bar {
  display: flex;
  width: 1.2em;
  height: 1px;
  background-color: white;
  margin: 5px 0;
  border-radius: 3px;
}

.header__toggle {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
